body {
    background-image: url('../images/dark-honeycomb.png')
}

h1 {
    font-family: arial;
}

.about-me-box {
    padding: 20px;
    background-color: #CCDBDC;
}

.me {
    float: left;
    border: 2px solid black;
    margin-right: 20px;
}

.border {
    border-width: 5px;
}

.jumbotron {
    background-color: #003249;
    color: #9AD1D4;
    font-family: arial;
    height: 200px;
    border-bottom: 2px solid lightgray;
    border-top: 2px solid lightgray;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 80px;
    background: #003249;
    border-top: solid 2px lightgray;
    color: lightgray;
}

.portfolio-box {
    margin: 20px;
    background-color: #003249;
    color: #CCDBDC;
    border: 3px solid #CCDBDC
}

.port-pic {
    margin: 2px solid #003249;
}

.contact-form {
    background-color: #CCDBDC;
}

.card {
    background-color: #CCDBDC;
}